[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = code-scanning-test
[access "refs/*"]
	owner = group user/Paiontheway
	read = group Administrators
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Paiontheway
	label-Verified = -1..+1 group user/Paiontheway
	push = group user/Paiontheway
	read = group user/Paiontheway
	rebase = group user/Paiontheway
	removeReviewer = group user/Paiontheway
	submit = group user/Paiontheway
[access "refs/heads/*"]
	create = group user/Paiontheway
	push = +force group user/Paiontheway
	pushMerge = group user/Paiontheway
	read = group user/Paiontheway
[access "refs/tags/*"]
	push = group user/Paiontheway
	push = +force group user/Paiontheway
